<tr>
  <td><%= data.date.strftime('%d %B, %Y') %></td>
  <td><%= number_with_precision(data.sum_distance, precision: 2)  %>km </td>
  <td><%= number_with_precision(data.avg_distance, precision: 2)  %>km </td>
  <td><%= number_to_eur(data.avg_price) %></td>
  <td><%= data.corporations.to_s.gsub(',', ', ') %></td>
</tr>