<h3>Statistics</h3>

<div class="section">
  <h5>Week statistic</h5>
  <p>In this week (from: <%= Time.zone.now.at_beginning_of_week.strftime('%d %B, %Y') %>): </p>
  <% if !@week_stats.nil? %>
    <p>Distance: <%= number_with_precision(@week_stats.first.distance, precision: 2) || 0 %>km</p>
    <p>Price: <%= number_to_eur(@week_stats.first.price) || 'None' %></p>
  <% else %>
    <p>No rides registered</p>
  <% end %>
</div>
<div class="divider"></div>
<div class="section">
  <h5>Month statistic</h5>
  <p>In this month (from: <%= Time.zone.now.at_beginning_of_month.strftime('%d %B, %Y') %>): </p>
  <table class="centered responsive-table highlight">
    <thead>
    <tr>
      <th>Date</th>
      <th>Rides sum</th>
      <th>Avg. ride</th>
      <th>Avg. price</th>
      <th>Taxis</th>
    </tr>
    </thead>

    <tbody>
      <%= render(partial: 'month_stats', collection: @month_stats, as: :data) ||
                  raw('<tr><td colspan="5">No rides registered</td></tr>')    %>
    </tbody>
  </table>
</div>

