<nav>
  <div class="nav-wrapper">
    <%= link_to('Riderank', root_path, class: 'brand-logo') %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%= render 'shared/menu_links' %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <%= render 'shared/menu_links' %>
    </ul>
  </div>
</nav>