<div id="actors" class="row">
  <div class="col s12 m9">
    <%= form_for(ride, html: {class: 'form-class'}) do |f| %>
      <% if ride.errors.any? %>
        <%= render partial: 'alerts', collection: ride.errors.full_messages, as: :message %>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :start_address %>
          <%= f.text_field :start_address, length: '255', class: 'validate', placeholder: 'Street 4, City, Country' %>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <%= f.label :destination_address %>
            <%= f.text_field :destination_address, length: '255', class: 'validate', placeholder: 'Street 6, City, Country' %>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :date %>
          <%= f.text_field :date, class: 'datepicker', :value => Time.zone.now.strftime('%d %B, %Y') %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :price %>
          <%= f.text_field :price, class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.collection_select(:corporation_id, Corporation.active, :id, :name,  include_blank: 'Select corporation', class: 'validate') %>
          <%= f.label :corporation %>
        </div>
      </div>

      <button class="btn waves-effect waves-light btn" type="submit" name="action">
        Submit
      </button>
    <% end %>
    </div>
</div>