<tr>
  <td><%= ride.date.strftime('%d %B, %Y') %></td>
  <td><%= ride.start_address %></td>
  <td><%= ride.destination_address %></td>
  <td><%= number_with_precision(ride.distance, precision: 2) %>km</td>
  <td><%= number_to_eur(ride.price) %></td>
  <td><%= ride.corporation_name %></td>
  <td><%= link_to 'Show', ride %></td>
  <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
  <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>