<h3>Listing Rides</h3>
<%= link_to raw('<i class="material-icons">add</i>'),
            new_ride_path,
            class: 'btn-floating btn-large waves-effect waves-light' %>

<table class="centered responsive-table highlight">
  <thead>
    <tr>
      <th>Date</th>
      <th>Start address</th>
      <th>Destination address</th>
      <th>Distance</th>
      <th>Price</th>
      <th>Corporation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render(@rides) || raw('<tr><td colspan="9">No rides registered</td></tr>') %>
  </tbody>
</table>
