<p class="flow-text">
  <strong>Date:</strong>
  <%= @ride.date.strftime('%d %B, %Y')  %>
</p>

<p class="flow-text">
  <strong>Corporation:</strong>
  <%= @ride.corporation_name %>
</p>

<p class="flow-text">
  <strong>Start address:</strong>
  <%= @ride.start_address %>
</p>

<p class="flow-text">
  <strong>Destination address:</strong>
  <%= @ride.destination_address %>
</p>

<p class="flow-text">
  <strong>Distance:</strong>
  <%= number_with_precision(@ride.distance, precision: 2) %>km
</p>

<p class="flow-text">
  <strong>Price:</strong>
  <%= number_to_currency(@ride.price, unit:'EUR', precision: 2,format: '%n %u')%>
</p>

<%= link_to raw('<i class="material-icons">add</i>'),
            new_ride_path,
            class: 'btn-floating btn-large waves-effect waves-light' %>
<br>
<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
